/* line 8, _app-menu.scss */
.stp-nav .item {
  height: 50px;
  margin-bottom: 2px;
}
/* line 13, _app-menu.scss */
.stp-nav .item:after, .stp-nav .collapsable.opened .item:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
}
/* line 30, _app-menu.scss */
.stp-nav .home {
  height: 50px;
  padding-bottom: 2px;
  background: #000000;
}
/* line 36, _app-menu.scss */
.stp-nav .collapsable-wrapper {
  overflow: hidden;
  padding-bottom: 1px;
}
/* line 41, _app-menu.scss */
.stp-nav .collapsable {
  position: relative;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
/* line 46, _app-menu.scss */
.stp-nav .collapsable .item {
  cursor: pointer;
  z-index: 2;
}
/* line 51, _app-menu.scss */
.stp-nav .collapsable .sub-items {
  -webkit-transition: bottom 0.3s ease-out;
  -moz-transition: bottom 0.3s ease-out;
  -o-transition: bottom 0.3s ease-out;
  transition: bottom 0.3s ease-out;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 62, _app-menu.scss */
.stp-nav .item {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373739), color-stop(35%, #202020), color-stop(80%, #0a0a0a), color-stop(100%, #0b0b0b));
  background-image: -webkit-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: -moz-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: -o-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  border-top: 1px solid #4e4e4e;
  position: relative;
}
/* line 68, _app-menu.scss */
.stp-nav .item:after {
  background: transparent url("/img/arrow-closed.png") no-repeat left center;
  width: 25px;
  background-size: 10.5px 15.5px;
}
/* line 76, _app-menu.scss */
.stp-nav .collapsable.opened .item:after {
  background: transparent url("/img/arrow-opened.png") no-repeat left center;
  width: 29px;
  background-size: 15px 11px;
}
/* line 83, _app-menu.scss */
.stp-nav .sub-item {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #23272a;
  padding-left: 10px;
}
/* line 88, _app-menu.scss */
.stp-nav .sub-item:last-child {
  border-bottom: none;
}
/* line 95, _app-menu.scss */
.stp-nav .sub-item:hover {
  padding-left: 0;
}
/* line 98, _app-menu.scss */
.stp-nav .sub-item:hover:before {
  content: " ";
  display: block;
  float: left;
  width: 5px;
  border-left: 5px solid #fa9008;
  height: 40px;
}
