/* line 8, _buttons.scss */
.btn-combined, .btn-combined-left, .btn-combined-right, .btn, .btn-s {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373739), color-stop(35%, #202020), color-stop(80%, #0a0a0a), color-stop(100%, #0b0b0b));
  background-image: -webkit-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: -moz-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: -o-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  -webkit-box-shadow: 0 0 4px 1px black;
  -moz-box-shadow: 0 0 4px 1px black;
  box-shadow: 0 0 4px 1px black;
  border: 1px solid #4c4c4c;
  border-bottom: 1px solid #2b2b2b;
  color: white;
}
/* line 15, _buttons.scss */
.pressed.btn-combined, .pressed.btn-combined-left, .pressed.btn-combined-right, .pressed.btn, .pressed.btn-s {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #202020), color-stop(50%, #1b1b1b), color-stop(100%, #151515));
  background-image: -webkit-linear-gradient(#202020, #1b1b1b, #151515);
  background-image: -moz-linear-gradient(#202020, #1b1b1b, #151515);
  background-image: -o-linear-gradient(#202020, #1b1b1b, #151515);
  background-image: linear-gradient(#202020, #1b1b1b, #151515);
  -webkit-box-shadow: 0 0 4px 1px black, inset 0 0 1px 1px #232324;
  -moz-box-shadow: 0 0 4px 1px black, inset 0 0 1px 1px #232324;
  box-shadow: 0 0 4px 1px black, inset 0 0 1px 1px #232324;
  border: none;
}

/* line 22, _buttons.scss */
.btn-inline {
  display: inline-block;
}

/* line 26, _buttons.scss */
.btn-combined, .btn-combined-left, .btn-combined-right {
  border-right: 0;
}

/* line 32, _buttons.scss */
.btn-combined-left {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 37, _buttons.scss */
.btn-combined-right {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 1px solid #4c4c4c;
}

/* line 43, _buttons.scss */
.btn, .btn-s {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 48, _buttons.scss */
.btn-s {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  margin: 0 1px;
}
