@import "compass";
@import "shared";
@import "vars";
@import "custom-search";
@import "buttons";
@import "app-menu";
@import "common.normalize";
@import "common.mixins";
//@import "sprites/menu"; //http://www.pfvdw.com/blog/compass-sprites-and-background-repeat-x trick

//http://compass-style.org/help/tutorials/spriting/customization-options/
//to fix problems with sprites scaling
//you should include it before sprites import
$icons-spacing: 10px;

@import "mobile/icons/*.png";

@mixin inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

%inline-block-middle {
  @include inline-block-middle;
}

@mixin relative-thumbnail {
  .thumbnail {
    position: relative;
    overflow: hidden;

    .thumbnail-stub {
      display: block;
      width: 100%;
    }

    .thumbnail-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

@mixin columns-gap($gap: 2px) {
//add gap between movies
  @include border-box;
  &:nth-child(odd) {
    padding-right: $gap/2;
  }

  &:nth-child(even) {
    padding-left: $gap/2;
  }
//end add gap
}

@mixin movies-views-favourited {
  display: inline-block;
  padding-right: $margin;
  color: $font-color-grey;

  i {
    padding-right: $margin/2;
  }
}

@mixin movies {
  .movies {
    @include pie-clearfix;
    margin: $margin;

    .movie {
      width: 50%;
      position: relative;
      float: left;
      @include columns-gap;
      @include relative-thumbnail;

      .thumbnail {
        .movie-info {
          %movie-thumbnail-btn {
            @include border-radius($btn-border-radius);
            background-color: rgba(0, 0, 0, 0.75);
            width: $btn-width;
            height: $btn-height;
            display: block;

            line-height: $btn-height;
            text-align: center;
          }

          .site-logo {
            @extend %position-absolute;
            top: 2px;
            left: 2px;

            max-width: 35%;

            img {
              max-width: 100%;
            }
          }

          .duration {
            @extend %position-absolute;
            bottom: 4px;
            right: 4px;

            width: $btn-width;
            text-align: center;
            padding: 5px 0;
            background-color: rgba(0, 0, 0, 0.75);
            color: white;
          }

          .btn-container {
            @extend %position-absolute;
            top: 4px;
            right: 4px;

            .add-to-favorites {
              @extend %movie-thumbnail-btn;
            }

            .add-to-later {
              @extend %movie-thumbnail-btn;

              i {
                vertical-align: middle;
                @include sprite-replace-text($icons-sprites, later);
                @include resize-sprite($icons-sprites, later, 50);

                padding-right: 2px; //correct alignment by x
              }

              //margin-top: 4px;  //why do we need this?
            }
          }
        }
      }

      .title {
        margin: $margin;
      }

      .additional-info {
        margin: $margin;

        .views {
          @include movies-views-favourited;

          i {
            @include sprite-replace-text-with-dimensions($icons-sprites, movie-views);
          }
        }

        .favourited {
          @include movies-views-favourited;

          i {
            @include sprite-replace-text-with-dimensions($icons-sprites, movie-favourited);
          }
        }
      }
    }
  }
}

.stp-content {
  background: image-url("mobile/bg.png") repeat;
}

header {
  $icon-gap: 18px;
  $header-height: 60px; //default iphone navbar height

  height: $header-height;
  line-height: $header-height;

  margin-bottom: $margin;
  @include display-box;
  @include box-align(center);

  background-image: image-url("mobile/menu-bg.png");
  background-repeat: repeat-x;

  .menu-trigger {
    @include inline-block-middle;
    @include resizable-sprite($icons-sprites, menu);
    margin: 0 $icon-gap;
  }

  .logo {
    @include inline-block-middle;
    @include resizable-sprite($icons-sprites, logo);
  }

  .right {
    @include box-flex(1);
    @include display-box;
    @include box-pack(end);

    height: $header-height;
    line-height: $header-height;

    .later {
      @include inline-block-middle;
      @include background-resized-sprite($icons-sprites, later, 80);

      margin: 0 $icon-gap/2;

      @include iphone {
        display: none; //don't display for small screens
      }
    }

    .favorites {
      @include inline-block-middle;
      @include background-resized-sprite($icons-sprites, favorites, 80);

      margin: 0 $icon-gap/2;

      @include iphone {
        display: none; //don't display for small screens
      }
    }

    .search {
      @include inline-block-middle;
      @include resizable-sprite($icons-sprites, search);
      margin: 0 $icon-gap/2;

      margin-bottom: 4px; //correct position
    }
  }
}

.my-ad1, .my-ad2 {
  background: lightgoldenrodyellow;
  height: 30px;
}

#content {
  .tabs {
    position: relative;
    margin: $margin $margin -2px $margin;

    $tab-widths: 30% 30% 20% 20%;
    $tabs: top-movies actresses tags sites;

    @mixin tab-item($i, $name) {

      $left: 0;

      @for $j from 1 through $i - 1 {
        $left: $left + nth($tab-widths, $j);
      }

      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: $left;

      width: nth($tab-widths, $i);

      &.active {
        background: #000000; //$name
      }
    }

    @for $i from 1 through length($tabs) {
      .#{nth($tabs, $i)} {
        @include tab-item($i, nth($tabs, $i));
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .top-movies {
    }

    .actresses {

    }

    .tags {

    }

    .sites {

    }
  }
  .main-navigation {
    height: $nav-height;
    margin: $margin;
    @include display-box;

    position: relative;

    .menu-top-movies {
      @include box-flex(6);
    }

    .menu-actresses {
      @include box-flex(5);
    }

    .menu-tags {
      @include box-flex(3);
    }

    .menu-sites {
      @include box-flex(3);
    }

    .trigger-sort {
      @include box-flex(1);
      @include hide-text;
    }

    .sort-container {
      @include border-radius($btn-border-radius);
      min-width: 150px;
    }
  }

  .pagination {
    margin: $margin;
    @include display-box;
    @include box-pack(center);
  }

  %grey-and-centered {
    color: $font-color-grey;
    text-align: center;
  }

  .total-displayed-info {
    @extend %grey-and-centered;
    margin: $margin*2;
  }

  .movies-per-page {
    @extend %grey-and-centered;
    margin: $margin*3 0 $margin*2 0;

    a {
      $btn-dimension: $btn-width*0.8;

      @include textured-button($btn-dimension, $btn-dimension, $btn-dimension) {
        display: inline-block;
        margin-left: $margin;
      }
    }
  }
}