@import "shared";
@import "pc.vars";
@import "triangle";

@mixin triangle-position($direction, $position, $triangle-dimension, $border) {
  @if $direction == up {
    top: - ($triangle-dimension + $border);
    #{$position}: 9px - $border;
  } @else if $direction == left {
    left: - ($triangle-dimension + $border);
    #{$position}: 9px - $border;
  }
}

@mixin triangle($direction, $position, $triangle-dimension, $bg-color, $border-color) {
  &:before { //border
    position: absolute;
    display: inline-block;
    content: '';
    @include triangle-position($direction, $position, $triangle-dimension, 1);
    @include css-triangle($direction, $triangle-dimension + 1, $border-color);
  }

  &:after {
    position: absolute;
    display: inline-block;
    content: '';
    @include triangle-position($direction, $position, $triangle-dimension, 0);
    @include css-triangle($direction, $triangle-dimension, $bg-color);
  }
}

@mixin dropdown($dropdown-bg-color: #313236, $dropdown-border: 1px, $dropdown-border-color: #535353, $dropdown-triangle-dimension: 8px) {

  @include border-radius($border-radius);
  position: absolute;
  background: $dropdown-bg-color;
  border: $dropdown-border solid $dropdown-border-color;
  z-index: 999;

  //this may be simplified
  &.top-right {
    top: 100%;
    right: 0;
    @include triangle(up, right, $dropdown-triangle-dimension, $dropdown-bg-color, $dropdown-border-color);
    margin-top: $margin;
  }

  &.top-left {
    top: 100%;
    left: 0;
    @include triangle(up, left, $dropdown-triangle-dimension, $dropdown-bg-color, $dropdown-border-color);
    margin-top: $margin;
  }

  &.left-top {
    left: 100%;
    top: 0;
    @include triangle(left, top, $dropdown-triangle-dimension, $dropdown-bg-color, $dropdown-border-color);
    margin-left: $margin;
  }

  &.left-bottom {
    left: 100%;
    bottom: 0;
    @include triangle(left, bottom, $dropdown-triangle-dimension, $dropdown-bg-color, $dropdown-border-color);
    margin-left: $margin;
  }
}

%dropdown {
  @include dropdown;
}

.dropdown {
  @extend %dropdown;
}