@import "shared";
@import "pc.vars";
@import "buttons";
@import "pc.custom-search";
@import "pc/menu/*.png";

body {
  background: inline-image("background.png") repeat;
}

@mixin middle-inline-block {
  display: inline-block;
  vertical-align: middle;
}

header {
  $header-height: image-height("pc/logo.png");

  @extend %pie-clearfix;
  height: $header-height;
  background: inline-image("pc/header-background.png") repeat;
  padding: 0 20px;

  .logo {
    float: left;
    @include replace-text-with-dimensions("pc/logo.png");
  }

  .right {
    float: right;
    line-height: $header-height;

    .later {
      @include middle-inline-block;
      @include replace-text-with-dimensions("menu/favorites-icon.png");
    }

    .favorites {
      @include middle-inline-block;
      @include replace-text-with-dimensions("menu/favorites-icon.png");
    }

    .search {
      @include middle-inline-block;

      $header-search-height: 40px;

      @mixin header-search-input {
        @include input-reset;
        display: inline-block;
        height: $header-search-height;
        vertical-align: middle;
      }

      input {
        @include header-search-input;
        @include border-left-radius($border-radius);
        padding: 0 5px;
        color: $font-color-grey;
      }

      .do-search {
        @include header-search-input;
        @include background-image(linear-gradient(#ecb246, #eb8600));
        @include border-right-radius($border-radius);

        .icon-search {
          display: inline-block;
          @include replace-text-with-dimensions("pc/search-icon.png");
        }
      }
    }
  }
}

$nav-trigger-height: 20px;
$nav-collapsed-width: 50px;

#content {
  @extend %pie-clearfix;

  .main-navigation {
    width: $nav-collapsed-width;
    float: left;

    .trigger {
      height: $nav-trigger-height;
      background: inline-image("pc/menu/open.png") no-repeat 50% 50% #1e1e20;
    }

    .collapsed-navigation {
      $items: home, tags, favorites, actresses;
      @each $item in $items {
        .#{$item} {
          @include replace-text-with-dimensions("pc/menu/#{$item}.png");
        }
      }
    }

    &.opened {
      .trigger {
        background: inline-image("pc/menu/close.png") no-repeat 50% 50% #1e1e20;
      }
    }
  }
}

%movies {
  @extend %pie-clearfix;

  .movie-wrapper {
    width: 25%;
    float: left;
  }

  @mixin animate-changes {
    @include transition(all 0.35s ease-in-out);
  }

  .movie {
    $elements-gap: 6px;
    $elements-hover-gap: $elements-gap*1.5;

    border: 2px solid transparent;
    position: relative;
    overflow: hidden;

    .thumbnail {
      font-size: 0;

      .thumbnail-stub {
        width: 100%;
      }

      .thumbnail-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .movie-info {
      .site-logo {
        @include position-absolute;
        @include animate-changes;

        top: $elements-gap;
        left: $elements-gap;
        max-width: 35%;
        opacity: 1;

        img {
          max-width: 100%;
        }
      }

      .duration {
        @include position-absolute;
        @include animate-changes;

        bottom: $elements-gap;
        right: $elements-gap;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 0 4px;
        opacity: 1;
      }
    }

    .movie-info-hover {
      @include animate-changes;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $z-index-level-2;
      text-shadow: 0 1px 1px black;

      %movie-info-btn {
        @include border-radius($border-radius);
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        width: 40px;
        height: 40px;
        color: white;
      }

      .add-to-later {
        @extend %movie-info-btn;
        top: $elements-hover-gap;
        left: $elements-hover-gap;
      }

      .add-to-favorites {
        @extend %movie-info-btn;
        top: $elements-hover-gap;
        right: $elements-hover-gap;
      }

      .movie-bottom-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

        .title {
          display: block;
          margin: $elements-hover-gap;
          color: white;
        }

        .added {
          margin: $elements-hover-gap;
          color: $font-color-grey;
        }
      }
    }

    .movie-hidden-url {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: inline-image("pc/transparent-black.png") repeat;
    }

    &:hover {
      .movie-info {
        .site-logo {
          opacity: 0;
        }

        .duration {
          opacity: 0;
        }
      }
      .movie-info-hover {
        top: 0;
      }
    }
  }
}