@import "shared";
@import "pc.vars";
@import "buttons";
@import "pc/menu/*.png";
@import "dropdown";

body {
  background: inline-image("background.png") repeat;
}

a {
  text-decoration: none;
  color: white;
}

@mixin middle-inline-block {
  display: inline-block;
  vertical-align: middle;
}

@mixin left-and-right-ads-gap {
  margin-left: $left-ads-width;
  margin-right: $right-ads-width;
}

@mixin replace-radio-or-checkbox-with-image($checked-position: right-middle) {
  label {
    &:hover {
      cursor: pointer;
    }
  }

  input {
    display: none;
  }

  .checked {
    input:after {
      content: " ";
      display: inline-block;
      @include replace-text-with-dimensions($radio-selected-image);
    }

    label {
      color: white;

      @if $checked-position == right-middle {
        position: relative;
      }
    }

    i {
      display: inline-block;
      @include replace-text-with-dimensions($radio-selected-image);

      @if $checked-position == right-middle {
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -1*$radio-height/2;
      }
    }
  }
}

%replace-radio-or-checkbox-with-right-middle-image {
  @include replace-radio-or-checkbox-with-image;
}

%dropdown-with-rows {
  $item-height: 50px;

  li {
    height: $item-height;
    line-height: $item-height;
    vertical-align: middle;
    border-bottom: 1px solid #46474b;
    padding: 0 $margin;

    &:last-child {
      border-bottom: none;
    }
  }
}

@mixin gradient-with-light-top-border {
  @include background-image(linear-gradient(#2d2d2d, #171717 35%, black));
  border-top: 1px solid #535353;
}

@mixin gradient-yellow {
  @include background-image(linear-gradient(#ecb246, #eb8600));
}

header {
  $header-logo-height: image-height("pc/logo.png");
  $header-terms-height: 30px;

  .logo-and-search {
    @extend %pie-clearfix;
    height: $header-logo-height;
    background: inline-image("pc/header-background.png") repeat;
    padding: 0 20px;

    .logo {
      float: left;
      @include replace-text-with-dimensions("pc/logo.png");
    }

    .right {
      float: right;
      line-height: $header-logo-height;

      .later {
        @include middle-inline-block;
        @include replace-text-with-dimensions("menu/favorites-icon.png");
      }

      .favorites {
        @include middle-inline-block;
        @include replace-text-with-dimensions("menu/favorites-icon.png");
      }

      .change-language-wrapper {
        @include middle-inline-block;
        position: relative;

        .change-language {
          @include replace-text-with-dimensions("menu/favorites-icon.png");
        }

        .dropdown {
          @extend %dropdown-with-rows;

          width: 150px;
          text-align: center;

          @each $lang in en ja {
            .#{$lang} {
              display: inline-block;
              @include replace-text-with-dimensions("langs/#{$lang}.png");
            }
          }
        }
      }

      .search {
        @include middle-inline-block;

        $header-search-height: 40px;

        @mixin header-search-input {
          @include input-reset;
          display: inline-block;
          height: $header-search-height;
          vertical-align: middle;
        }

        input {
          @include header-search-input;
          @include border-left-radius($border-radius);
          padding: 0 5px;
          color: $font-color-grey;
        }

        .do-search {
          @include header-search-input;
          @include gradient-yellow;
          @include border-right-radius($border-radius);

          .icon-search {
            display: inline-block;
            @include replace-text-with-dimensions("pc/search-icon.png");
          }
        }
      }
    }
  }

  .terms-wrapper {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

    .terms {
      @include gradient-with-light-top-border;
      border-bottom: 1px solid #191919;

      height: $header-terms-height;
      line-height: $header-terms-height;

      li {
        display: inline-block;
      }
    }
  }
}

#content {
  @extend %pie-clearfix;

  .main-content {
    margin-left: $nav-collapsed-width;
  }
}

%movies {
  @extend %pie-clearfix;

  .movie-wrapper {
    width: 25%;
    float: left;
  }

  @mixin animate-changes {
    @include transition(all 0.35s ease-in-out);
  }

  .movie {
    $elements-gap: 6px;
    $elements-hover-gap: $elements-gap*1.5;

    border: 2px solid transparent;
    position: relative;
    overflow: hidden;

    .thumbnail {
      font-size: 0;

      .thumbnail-stub {
        width: 100%;
      }

      .thumbnail-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    .movie-info {
      .site-logo {
        @include position-absolute;
        @include animate-changes;

        top: $elements-gap;
        left: $elements-gap;
        max-width: 35%;
        opacity: 1;

        img {
          max-width: 100%;
        }
      }

      .duration {
        @include position-absolute;
        @include animate-changes;

        bottom: $elements-gap;
        right: $elements-gap;
        background: rgba(0, 0, 0, 0.75);
        color: white;
        padding: 0 4px;
        opacity: 1;
      }
    }

    .movie-info-hover {
      @include animate-changes;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $z-index-level-2;
      text-shadow: 0 1px 1px black;

      %movie-info-btn {
        @include border-radius($border-radius);
        position: absolute;
        background: rgba(0, 0, 0, 0.75);
        width: 40px;
        height: 40px;
        color: white;
      }

      .add-to-later {
        @extend %movie-info-btn;
        top: $elements-hover-gap;
        left: $elements-hover-gap;
      }

      .add-to-favorites {
        @extend %movie-info-btn;
        top: $elements-hover-gap;
        right: $elements-hover-gap;
      }

      .movie-bottom-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;

        .title {
          display: block;
          margin: $elements-hover-gap;
          color: white;
        }

        .added {
          margin: $elements-hover-gap;
          color: $font-color-grey;
        }
      }
    }

    .movie-hidden-url {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: inline-image("pc/transparent-black.png") repeat;
    }

    &:hover {
      .movie-info {
        .site-logo {
          opacity: 0;
        }

        .duration {
          opacity: 0;
        }
      }
      .movie-info-hover {
        top: 0;
      }
    }
  }
}

.my-ad-left {
  float: left;
  background-color: #ffe460;
  width: $left-ads-width - $left-ads-width/10;
  height: 250px;
  margin: 0 $left-ads-width/20;
}

.my-ad-right {
  float: right;
  background-color: #ffe460;
  width: $right-ads-width - $right-ads-width/10;
  height: 400px;
  margin: 0 $right-ads-width/20;
}

.step-pagination-wrapper {
  @include left-and-right-ads-gap;
  text-align: center;
}

.step-pagination {
  $item-height: 49px;
  $item-width: 49px;
  $prev-next-gap: 10px;

  display: inline-block;
  height: $item-height;
  overflow-y: hidden;

  .pagination-fixed {
    float: right;
  }

  .pagination-flexible {
    margin-right: $item-width; //next item
  }

  &.has-dots {
    .pagination-flexible {
      margin-right: $item-width*2; //dots + next item
    }
  }

  .step {
    @extend .btn-s;
    display: inline-block;
    vertical-align: top;
    margin-bottom: $item-height; //additional margin to push down
  }

  .prev {
    margin-right: $prev-next-gap;
  }

  .next {
    margin-left: $prev-next-gap;
  }
}

.sites-selector {
  @extend %clearfix;
  @extend %replace-radio-or-checkbox-with-right-middle-image;
  @include border-box;

  $radio-width: image-width($radio-selected-image);

  li {
    float: left;
    padding-right: $radio-width;
  }

  .site {
    display: inline-block;
    background-size: contain;
    width: 55px;
    height: 15px;

    position: relative;
    overflow: visible !important;

    $sites: xvideos xhamster fc2;
    @each $site in $sites {
      &.#{$site} {
        @include replace-text("sites/logo_#{$site}.png");
      }
    }
  }
}