/* line 8, buttons.scss */
.btn-inline, .btn-inline-left, .btn-inline-right, .btn, .btn-s {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #373739), color-stop(35%, #202020), color-stop(80%, #0a0a0a), color-stop(100%, #0b0b0b));
  background-image: -webkit-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: -moz-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: -o-linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  background-image: linear-gradient(#373739, #202020 35%, #0a0a0a 80%, #0b0b0b);
  -webkit-box-shadow: 0 0 4px 1px black;
  -moz-box-shadow: 0 0 4px 1px black;
  box-shadow: 0 0 4px 1px black;
  border: 1px solid #4c4c4c;
}
/* line 13, buttons.scss */
.pressed.btn-inline, .pressed.btn-inline-left, .pressed.btn-inline-right, .pressed.btn, .pressed.btn-s {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #202020), color-stop(50%, #1b1b1b), color-stop(100%, #151515));
  background-image: -webkit-linear-gradient(#202020, #1b1b1b, #151515);
  background-image: -moz-linear-gradient(#202020, #1b1b1b, #151515);
  background-image: -o-linear-gradient(#202020, #1b1b1b, #151515);
  background-image: linear-gradient(#202020, #1b1b1b, #151515);
  -webkit-box-shadow: 0 0 4px 1px black, inset 0 0 1px 1px #232324;
  -moz-box-shadow: 0 0 4px 1px black, inset 0 0 1px 1px #232324;
  box-shadow: 0 0 4px 1px black, inset 0 0 1px 1px #232324;
  border: none;
}

/* line 20, buttons.scss */
.btn-inline, .btn-inline-left, .btn-inline-right, .btn, .btn-s {
  border-right: 0;
}

/* line 26, buttons.scss */
.btn-inline-left {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

/* line 31, buttons.scss */
.btn-inline-right {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 37, buttons.scss */
.btn, .btn-s {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 42, buttons.scss */
.btn-s {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  box-shadow: inset 0 0px 0px 1px #393939;
  border: 1px solid black;
  margin: 0 1px;
}
