@import "movie.pc";

.main-navigation {
  .opened-navigation {
    .iosSliderVertical {
      //height: 100%;
    }

    .slide {
      display: block;
      //height: 250px;
    }

    .movies {
      @extend %movies;

      .movie-wrapper {
        width: 100%;
      }
    }
  }
  
  #favorite-movies {
    height: 100%;
    //position: relative;

    //margin-right: $margin/2;
    //padding: 0 $margin;
  }

  //.scrollbar + div {
  //  background: #eb8600;
  //}
}
