@mixin textured-button($width, $height, $border-radius) {
  @include border-radius($border-radius);
  width: $width;
  height: $height;

  background-image: inline-image("mobile/pagination-btn-texture.png");
  background-size: 100%;

  box-shadow: 0 0 4px 1px black;
  border: 1px solid #4c4c4c;
  border-bottom: 1px solid #252525;

  line-height: $height;
  text-align: center;
  vertical-align: middle;

  @content;
}