@import "vars";

@mixin inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

%inline-block-middle {
  @include inline-block-middle;
}

%clearfix {
  @include clearfix;
}

%pie-clearfix {
  @include pie-clearfix;
}

%position-absolute {
  position: absolute;
  z-index: $z-index-level-1;
}

@mixin position-absolute {
  @extend %position-absolute;
}

@mixin border-box {
  @include box-sizing(border-box);
}

@mixin height-and-line-height($height) {
  height: $height;
  line-height: $height;
}

@mixin horizontal-bg-image-with-dimension($path, $line-height: true) {
  $height: image-height($path);

  background: image-url($path) repeat-x;
  height: $height;

  @if $line-height {
    line-height: $height;
  }
}