@import "vars";

@mixin inline-block-middle {
  display: inline-block;
  vertical-align: middle;
}

@mixin position-absolute {
  @extend %position-absolute;
}

@mixin border-box {
  @include box-sizing(border-box);
}

@mixin height-and-line-height($height) {
  height: $height;
  line-height: $height;
}

@mixin horizontal-bg-image-with-dimension($path, $line-height: true) {
  $height: image-height($path);

  background: image-url($path) repeat-x;
  height: $height;

  @if $line-height {
    line-height: $height;
  }
}

@mixin gradient-with-light-top-border {
  @include background-image(linear-gradient(#2d2d2d, #171717 35%, black));
  border-top: 1px solid #535353;
}

@mixin border-bottom-except-last-one($color) {
  border-bottom: 1px solid $color;

  &:last-child {
    border-bottom: none;
  }
}