$nav-sub-item-height: 40px;

@mixin nav-arrow($img, $width, $ratio) {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: $width;

  background: transparent url("/img/#{$img}.png") no-repeat left center;
  background-size: image-width("#{$img}.png")*$ratio image-height("#{$img}.png")*$ratio;
}