//https://gist.github.com/darren131/3410875
@mixin resize-sprite($map, $sprite, $percent, $position-only: false) {
  $spritePath:    sprite-path($map);
  $spriteWidth:   image-width($spritePath);
  $spriteHeight:  image-height($spritePath);
  $width: image-width(sprite-file($map, $sprite));
  $height: image-height(sprite-file($map, $sprite));

  @if ($position-only != true) {
    @include background-size(ceil($spriteWidth * ($percent/100)) ceil($spriteHeight * ($percent/100)));
    width: ceil($width*($percent/100));
    height: ceil($height*($percent/100));
  }

  background-position: 0 floor(nth(sprite-position($map, $sprite), 2)  * ($percent/100) );
}

@mixin resizable-sprite($sprites, $sprite) {
  @include sprite-replace-text-with-dimensions($sprites, $sprite);

  @include iphone {
    @include resize-sprite($sprites, $sprite, 75);
  }
}

@mixin background-resized-sprite($sprites, $sprite, $percents) {
  @include sprite-replace-text($sprites, $sprite);
  @include resize-sprite($sprites, $sprite, $percents);
}

@mixin change-resized-sprite($sprites, $sprite, $percents) {
  @include resize-sprite($sprites, $sprite, $percents, true);
}