@import "patials/base";
@import "patials/movie";

#content {
  padding-bottom: 20px;

  .movies-wrapper {
    background: #0b0c0d;

    .sort-by {
      padding: $margin*2 0;
      text-align: right;

      span {
        color: $color-white;
        padding: 0 $margin;
      }

      a {
        padding: 0 $margin;
        color: $color-grey;
      }
    }

    .movies {
      margin-top: 0;
    }
  }

  @include movies;

}