@import "patials/base";
@import "patials/movie";
@import "patials/movies-list";

#content {
  padding-bottom: 20px;

  .movies-wrapper {
    background: $color-background;

    .sort-by {
      padding: $margin*2 0;
      text-align: right;

      span {
        color: $color-white;
        padding: 0 $margin;
      }

      a {
        padding: 0 $margin;
        color: $color-grey;
      }
    }

    .movies {
      margin-top: 0;
    }
  }
}