@import "mobile.common";

#content {
  .abc-index-container {
    margin: $margin*2;
    @include display-box;

    .abc-slider-container {
      @include box-flex(1);

      .iosSlider {
        height: $btn-height;
        width: 100%;
      }
    }
  }

  .actresses {
    @include pie-clearfix;
    margin: $margin;

    .column {
      width: 50%;
      position: relative;
      float: left;
      margin-bottom: $margin;
      @include columns-gap($margin);
    }

    .actress {
      display: block;
      text-decoration: none;

      @include relative-thumbnail;

      @include border-radius($btn-border-radius);
      border: 1px solid #363636;
      padding: $margin;
      text-align: center;

      .name {
        color: white;
      }
      
      .movies-count {
        color: $font-color-grey;
      }
    }
  }
}