@import "patials/base";

#content {
  padding-bottom: 20px;

  .main-movie {
    margin: $margin;

    .title {
      margin-top: $margin*2;
    }
    .added {
      margin: $margin 0;
      color: $font-color-grey;
    }
    
    .player {
      background-color: coral;
      height: 350px;
      width: 100%;
    }

    .info-and-actions {
      @include display-box;
      margin: $margin 0;

      .info {
        @include box-flex(1);
        margin-right: $margin;

        @include border-radius($btn-border-radius);
        border: 1px solid #5b5b5b;

        background-color: rgba(0, 0, 0, 0.75);
        padding: $margin;

        $label-width: 150px;

        dt { //label
          float: left;
          width: $label-width;
        }

        dd { //value
          padding-left: $label-width;
        }
      }

      .actions {
        %main-movie-button {
          @extend .btn;
          display: block;
          margin-bottom: $margin;

          i {
            display: block;
          }
        }

        .add-to-later {
          @extend %main-movie-button;

          i {
            @include sprite-replace-text-with-dimensions($menu-sprites, favorites-icon);
          }
        }

        .add-to-favorites {
          @extend %main-movie-button;

          i {
            @include sprite-replace-text-with-dimensions($menu-sprites, favorites-icon);
          }
        }
      }
    }
  }

  @include movies;
}