@import "patials/base";
@import "patials/movie";
@import "patials/movies-list";

#content {
  padding-bottom: 20px;

  $movie-label-height: $btn-height + $margin*2;

  .movie-wrapper {
    position: relative;
    margin-top: $margin;
    padding-top: $movie-label-height - 1; //push movie to display label

    .movie-label-container {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
    }

    .main-content-wrapper {
      margin-top: 0;
    }
  }

  .movie-label-container {
    @include display-box;

    //margin: $margin $main-content-side-margin 0 $main-content-side-margin;
    margin: 0 $main-content-side-margin;

    .btn-container {
      @include height-and-line-height($movie-label-height);
      padding-left: $main-content-side-padding;

      .back {
        @extend .btn-t;
        margin: 0 $margin;
        padding-top: 2px; //push icon down

        i {
          @include background-resized-sprite-height($icons-sprites, arrow-left, $btn-height/2);
        }
      }
    }

    .curve {
      @include background-resized-sprite-height($icons-sprites, curve-left, $movie-label-height);
      margin-right: -1px;
    }

    .label {
      @include box-flex(1);
      @include border-top-right-radius($btn-border-radius);
      border-top: 1px solid $color-border;
      border-right: 1px solid $color-border;
      background: $color-background;
      padding: 0 ($main-content-side-padding + $margin) 0 $margin/2;

      .added {
        color: $color-grey;
      }

      //vertical align to the center
      @include display-box;
      @include box-orient(vertical);
      @include box-pack(center);
    }
  }

  .main-content-wrapper {
    @include border-top-right-radius(0);
  }

  .main-movie {
    margin: $margin;

    .player {
      background-color: coral;
      height: 350px;
      width: 100%;
    }

    .info-and-actions {
      $row-gap: $margin*1.5;

      margin: $margin 0;

      @mixin movie-info-row {
        margin-bottom: $row-gap;
      }

      .additional-info {
        @include movie-info-row;
      }

      .tags-wrapper {
        @include movie-info-row;
        @include display-box;

        .first-icon {
          display: block;
          padding-top: 2px; //push icon bottom
        }

        .tags {
          @include box-flex(1);

          .movie-tag {
            padding-bottom: $margin*0.5;
          }
        }
      }

      .first-icon {
        width: 30px;
        padding: 0;
        text-align: center;
      }

      .actions {
        $icon-height: $btn-height - 10;

        .add-to-later {
          @extend %btn-with-icon-and-label;
          margin-bottom: $row-gap;

          i {
            @include background-resized-sprite-height($icons-sprites, later, $icon-height);
          }
        }

        .add-to-favorites {
          @extend %btn-with-icon-and-label;
          margin-bottom: $row-gap;

          @include min-width(360px) {
            float: right;
          }

          i {
            @include background-resized-sprite-height($icons-sprites, favorites, $icon-height);
          }
        }
      }
    }
  }

  .movie-suggestion-wrapper {
    margin: $margin $margin/2;

    .label-container {
      @extend %pie-clearfix;

      $label-height: $movie-label-height*0.75;

      @mixin label-item {
        float: left;
        height: $label-height;
      }

      .label {
        @include label-item;
        @include border-top-left-radius($btn-border-radius);
        border-top: 1px solid $color-border;
        border-left: 1px solid $color-border;
        background: $color-background;

        line-height: $label-height;
        padding: 0 $margin 0 $margin*2;
      }

      .curve {
        @include label-item;
        @include background-resized-sprite-height($icons-sprites, curve-right, $label-height);
        margin-left: -1px; //manually position element
      }
    }

    .movies-wrapper {
      @include border-radius($btn-border-radius);
      @include border-top-left-radius(0);

      border: 1px solid $color-border;
      background: $color-background;
      margin-top: -3px; //manually position element

      .movies {
        padding: 0 $margin/2;
      }
    }

    .my-ad2 {
      margin: $margin 0;
    }
  }

  .load-more-container {
    text-align: center;

    .load-more {
      @extend %btn-t-flex-width;
      margin: $margin*2 auto;
      padding: 0 $margin;
    }
  }
}