@import "patials/base";
@import "patials/movie";

#content {
  padding-bottom: 20px;

  .main-movie {
    margin: $margin;

    .title {
      margin-top: $margin*2;
    }
    .added {
      margin: $margin 0;
      color: $color-grey;
    }
    
    .player {
      background-color: coral;
      height: 350px;
      width: 100%;
    }

    .info-and-actions {
      $row-gap: $margin*1.5;

      margin: $margin 0;

      @mixin movie-info-row {
        margin-bottom: $row-gap;
      }

      .additional-info {
        @include movie-info-row;
      }

      .tags {
        @include movie-info-row;
      }

      .first-icon {
        width: 30px;
        padding: 0;
        text-align: center;
      }

      .actions {
        $icon-height: $btn-height - 10;

        .add-to-later {
          @extend %btn-with-icon-and-label;
          margin-bottom: $row-gap;

          i {
            @include background-resized-sprite-height($icons-sprites, later, $icon-height);
          }
        }

        .add-to-favorites {
          @extend %btn-with-icon-and-label;
          margin-bottom: $row-gap;

          @include min-width(360px) {
            float: right;
          }

          i {
            @include background-resized-sprite-height($icons-sprites, favorites, $icon-height);
          }
        }
      }
    }
  }

  @include movies;
}