@import "../../shared/modules/all";

@mixin relative-thumbnail {
  .thumbnail {
    position: relative;
    overflow: hidden;

    .thumbnail-stub {
      display: block;
      width: 100%;
    }

    .thumbnail-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

@mixin columns-gap($gap: 2px, $delimiter: padding) {
//add gap between movies
  @include border-box;
  &:nth-child(odd) {
    #{$delimiter}-right: $gap/2;
  }

  &:nth-child(even) {
    #{$delimiter}-left: $gap/2;
  }
//end add gap
}