@import "compass";

$icons: actresses tags favourites;

.item {
  @each $icon in $icons {
    .icon-#{$icon} {
      @include replace-text-with-dimensions("pc/icons/#{$icon}.png");
      display: inline-block;
      vertical-align: top;
    }
  }

  &:hover, &.active {
    @each $icon in $icons {
      .icon-#{$icon} {
        @include replace-text-with-dimensions("pc/icons/#{$icon}-active.png");
      }
    }
  }
}