@import "../modules/all";

$custom-search-item-height: 50px;

#content {
  position: relative;

  @include custom-search-opened {
    overflow: hidden;
  }
}

.custom-search-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  visibility: hidden;

  @include custom-search-opened {
    visibility: visible;
    z-index: 999;
  }

  background: rgba(0, 0, 0, 0.7);
}

.custom-search {
  background: #000000;

  border: 1px solid transparent;
  margin: 50px 0;

  .item {
    height: $custom-search-item-height;
    line-height: $custom-search-item-height;
    border-bottom: 1px solid #444442;
    color: $color-grey;
    padding: 0 $margin;

    .value {
      display: block;
      height: $custom-search-item-height;
      float: right;
      color: $color-white;
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;

      option {
        text-align: right;
      }
    }

    select.value {
      direction: rtl;
      @include appearance(button);
    }
  }

  .by-sites {
    height: auto;
  }

  .multiple-columns-sites-selector {
    @include site-selector-column(50%);
    @include site-selector-icon-resize(70);
  }

  .do-search {
    @extend .btn;
    display: block;
    width: 90%;
    margin: $margin auto;
    height: 40px;
  }
}