@import "../modules/all";

.main-content-wrapper {
  @include border-radius(5px);

  background: $color-background;
  border: 1px solid $color-border;
  margin: $margin $margin/2;
  padding: 0 $margin/2;
}