@import "../modules/all";

$btn-border-color: #4c4c4c;

%btn {
  @include background-image(linear-gradient(#373739, #202020 35%, #0A0A0A 80%, #0b0b0b));
    @include box-shadow(0 0 4px 1px black);
  border: $btn-border-width solid $btn-border-color;
  border-bottom: $btn-border-width solid rgb(43, 43, 43);
  color: $color-white;

  &.pressed {
    @include background-image(linear-gradient(#202020, #1b1b1b, #151515));
    @include box-shadow(0 0 4px 1px black, inset 0 0 1px 1px #232324);
    border: none;
  }
}

.btn-inline {
  display: inline-block;
}

.btn {
  @extend %btn;
  @include border-radius($btn-border-radius);
}

.btn-s { //short for button-symbolic
  @extend .btn;
  width: $btn-width;
  height: $btn-height;

  line-height: $btn-height;
  text-align: center;
  vertical-align: middle;

  //box-shadow: inset 0 0px 0px 1px #393939;
  //border: 1px solid black;

  margin: 0 $btn-margin;
}

%textured-button {
  background-image: image-url("shared/bg/bg-button.png");
  background-size: contain;

  box-shadow: 0 0 4px 1px black;
  border: 1px solid #4c4c4c;
  border-bottom: 1px solid #252525;

  color: $color-white;
  text-align: center;
  vertical-align: middle;

  &.pressed {
    background-color: #151515;
    @include background-image(linear-gradient(#202020, #1b1b1b, #151515));
    border: 1px solid #242424;
    border-top: 1px solid #181818;
    box-shadow: 0 0 1px 1px black;
    color: $color-yellow;
  }
}

.btn-t {
  @extend %textured-button;
  @include border-radius($btn-border-radius);
  width: $btn-width;
  height: $btn-height;
  line-height: $btn-height;
  margin: 0 $btn-margin;
}