@import "../modules/all";

%navigation-trigger {
  @include gradient-with-light-top-border;
  height: $nav-trigger-height;
  line-height: $nav-trigger-height;
}

@import "navigation.collapsed";
@import "navigation.opened";

#content {
  position: relative;
}

.main-navigation {
  width: $nav-collapsed-width;
  float: left;
}